/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
:root {
  --theme-font-family-base: 'Fira Code', 'monospace';
  --theme-font-family-heading: 'Fira Code', 'monospace';
}
::selection {
  background: #23a9d5;
}
body {
  background-color: #1b2028;
  color: #4B5975;
}
h2,
h3,
.test {
  color: #ccccb5;
}
a {
  text-decoration-color: #23a9d5;
  text-decoration: no-underline;
}
